<%= form_with(model: aggregate, local: true) do |form| %>
  <% if aggregate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aggregate.errors.count, "error") %> prohibited this aggregate from being saved:</h2>

      <ul>
      <% aggregate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
