/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0
 }
 /* TEXT */
 h1 {
   text-shadow: 0 .4vmin .5vmin rgba(0,0,0,.2);
 }

 /* OTHER */
 .bg_primary-color {
  background-color: #FFFFFF;
}
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
}
.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}
.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.backwarder {
  box-sizing: content-box;
  position: fixed;
  top: 1vmin;
  left: 1vmin;
  height: 5vmin;
  width: 6.5vmin;
  font-size: 8vmin;
  line-height: 4vmin;
  overflow: hidden;
}
.backwarder:hover {
  padding-right: 2vmin;
}
.backwarder::before,
.backwarder::after {
  content: "<";
  position: absolute;
  left: 2vmin;

  transform: scale(1);
  opacity: 1;

  transition: all .3s;
}
.backwarder:hover::before,
.backwarder:focus::before {
  left: 0;

  transition: all .1s;
}
.backwarder:hover::after,
.backwarder:focus::after {
  transform: scale(.8);
  opacity: .5;

  transition: all .1s;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
